body{
    background-color: rgb(0, 0, 0);
    padding: 30PX;
}

.container{
    display: grid;
    grid-template-columns: repeat(13, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 20px;
}

.card{
    border: 0.2px solid #676767;
    border-radius: 20px;
   /* box-shadow: inset 0 0 20px rgb(162, 0, 255);*/

}

.aboutme{
    display: flex;
    grid-row: 1 / 4;
    grid-column: 1 / 7;
    transform: scale(0.5);
    animation: scaleUp 0.8s ease forwards;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(45deg, #000000, #5BC0BE);
}

.aboutme h1{
    color: #6FFFE9;
    text-align: justify;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}
.aboutme p{
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.aboutme span{
    color: rgb(255, 255, 255);
}

.aboutme img {
    width: 250px; 
    height: 250px; 
    border-radius: 30%; 
    object-fit: cover; 
  
    
}

.projects { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;  
    grid-row: span 2;
    grid-column: span 3;
    transform: scale(0.5);
    animation: scaleUp 0.9s ease forwards;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
    background: linear-gradient(to top, #0093935c, #6fffe966);
    /*background: linear-gradient(45deg, #000000, #6FFFE9);*/
}


.project-gif{
    grid-column-start: 2;
    grid-row-start: 1;

}

.projects h1{
    grid-column-start: 2;
    grid-row-start: 2;
    color: #6FFFE9;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    
}


  .flecha{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid; /* Color de la flecha */
    border-bottom: 30px solid #f8ffcb; /* Color de la flecha */
    animation: mover 1s infinite ease-in-out;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 120px;
    margin-left: 10px;
  }

  .flecha2{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    border-top: 0px solid; /* Color de la flecha */
    border-bottom: 30px solid #f8ffcb; /* Color de la flecha */
    animation: mover 1s infinite ease-in-out;
    grid-column-start: 3;
    grid-row-start: 1;
    margin-top: 120px;

  }
  
  @keyframes mover {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

.education{
    grid-row: span 2;
    grid-column: span 3;
    transform: scale(0.5);
    animation: scaleUp 1s ease forwards;
}

.education h1{
    color: rgb(255, 154, 154);
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

.tecnologies{
    background: linear-gradient(to left, #1d1d1dad, #6fffe9b2);
    grid-row: 4 / 6;
    grid-column: 1 / 5;
    transform: scale(0.5);
    animation: scaleUp 1.1s ease forwards;
    padding: 10px 40px;
}

.tecnologies h1{
    color: #6FFFE9;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    text-align: end;
    margin-bottom: 30px;
    margin-top: 0px;
}

/* Contenedor principal para los íconos */
.software-logos {
    display: flex; /* Alinear en línea horizontal */
    gap: 20px; /* Espacio entre íconos */
    justify-content: center; /* Centrar los íconos */
    overflow: hidden; /* Ocultar cualquier contenido fuera del área visible */
    position: relative; /* Para animación */
    height: 150px; /* Ajustar al tamaño de los íconos */
  }

  /* Aplicar estilo básico a los íconos */
.software-logos svg {
    width: 60px;
    height: 60px;
     
  }



  .carousel-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    animation: scroll 20s linear infinite;
}

.icon {
    flex: 0 0 auto;
    width: 100px; /* Ajusta según el tamaño del ícono */
    margin: 0 10px; /* Espaciado entre íconos */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Ajusta según la cantidad de íconos visibles */
    }
}


.contactme{
    background: radial-gradient(circle, #00c6b88f, #2f2e2e97); /* Circular */
    grid-row: 4 / 6;
    grid-column: 5 / 11;
    transform: scale(0.5);
    animation: scaleUp 1.3s ease forwards;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contactme h1{
    color: rgb(255, 255, 255);
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    width: 200px;
}

.contactme svg{
    width: 80px;
}

.contactme-logo-container{
    display: inline-block;
}

.contactme-social-media-container{
    display: inline-block;
    top: -65px;
    position: relative;
    padding-left: 50px;
}

.contactme-social-media-container svg{
    padding-left: 30px;
}

.resume{
    grid-row: 3 / 4;
    grid-column: 7 / 11;
    transform: scale(0.5);
    animation: scaleUp 1.4s ease forwards;
    z-index: -100;
}

.resume h1{
    color: rgb(255, 154, 154);
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

.another{
    grid-row: 3 / 6;
    grid-column: 11 / 13;
    transform: scale(0.5);
    animation: scaleUp 1.5s ease forwards;
}


@keyframes scaleUp {
to {
    opacity: 1;
    transform: scale(1);
}
}